@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    font-family: 'Architects Daughter', cursive;
}
h1, p {
    margin:0;
}
p, h4 {
    font-weight:400;
}
p {
    font-size:14px;
}
.container {
    background-color:rgb(219, 219, 255);
    padding:30px 90px;
}
.content {
    background-color:rgb(46, 40, 59);
    padding:10px;  
    display:flex;
    flex-direction: row;
    box-shadow:0px 5px 13px rgb(0, 0, 0);
}
.content, .right-side {
    border-radius:15px;
}
.left-side {
    color:white;
    padding:100px;
    flex-basis:50%;
}
.left-side p {
    color:rgb(155, 155, 155);
}
#search {
    width:300px;
    margin-top:25px;
    padding:10px;
    background-color:none;
    border-radius:15px;
    border:none;
    background-color:transparent;
}
.projects {
    margin-top:5rem;
}
.view-projects {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.project-box {
    flex-basis:24%;
    margin-right:25px;
    margin-bottom:45px;
}
.project-box h5, .project-box p {
    text-align:center;
}
.project-img {
    position:relative;
}
.project-img h5 {
    position:absolute;
    font-size:35px;
    top:-35px;
    width:100%;
    color:rgba(255, 255, 255, 0.74);

}
.project-img img {
    width:100%;
    border-radius:15px;
}

.right-side {
    padding:45px;
    background-color:white;
    flex-basis:50%;
}
.list {
    display:flex;
    margin-bottom:12px;
}
label p {
    margin:auto;
}
/*Bagian Checkbox*/
.checklist {
    display:block;
    position:relative;
    padding-left:35px;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checklist input {
    position:absolute;
    opacity:0;
    cursor:pointer;
    height:0;
    width:0;
}
.checkmark {
    position:absolute;
    top:0;
    left:0;
    height:25px;
    width:25px;
    background-color:#eee;
    border-radius:50%;
}
.checklist:hover input ~ .checkmark {
    background-color:#ccc;
}
.checklist input:checked ~ .checkmark {
    background-color:#2196F3;
}
.checkmark:after {
    content:"";
    position:absolute;
    display:none;
}
.checklist input:checked ~ .checkmark:after {
    display:block;
}
.checklist .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.status {
    background-color:rgb(226, 255, 232);
    margin-left:auto;
    border-radius:10px;
    padding:0 15px;
    color:rgb(35, 156, 55);
    font-weight:650;
    letter-spacing: 1px;
}